:root {
  --main-bg-color: #e9f3fa;
  --primary: hsl(204, 65%, 52%);
  --primary-green: #319589;
  --secondaryDB: #36749e;
  --secondary-light-blue: #bcdbf3;
  --secondary-dark-green: #24521d;
  --basic-lr-margin: 2vw;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}
